doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Karibu Groceries - Login
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css')
  link(rel='stylesheet' href='/kglCss/login.css')
.login-container
  .logo
    img(src='/img/image 26.png' alt='KGL Logo')
  h1
    | Karibu Groceries 
    i.fas.fa-shopping-cart(style='color: #FFC107;')
  p.tagline Fresh groceries everyday
  form(method="post")
    .input-group
      input(type='text' placeholder='Email Address' name ='email')
    .input-group
      input#password(type='password' placeholder='Password' name='password')
      span#togglePassword.password-toggle
        i.bi.bi-eye
    .options
      label
        input(type='checkbox')
        |  Remember Me
      a(href='/resetPassword') Forgot Password?
    button(type='submit') Login
  p.signup-link
    | New here? 
    a(href='/signup') Sign Up
footer
  p &copy; Karibu Groceries Limited, 2025
//- script(src='/filejs/login.js')
